<link rel="stylesheet" href="/css/header.css">

<header>
    <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
        
        <div class="collapse navbar-collapse d-none d-lg-flex">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link <%= (currentRoute === '/' ? 'active fw-bold' : '')%>" href="/">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Profile
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item <%= currentRoute === '/me/library' ? 'fw-bold' : ''%>" href="/me/library">My Library</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="/login/logout">Sign out</a>
                    </div>
                  </li>
            </ul>
        </div>

        <button class="navbar-toggler toggler" type="button" onclick="toggleMenu()">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-brand">
            <img src="<%= picture %>" width="35" height="35" class="d-inline-block align-top rounded-circle" alt="Profile Picture">
        </div>
    </nav>

    <div id="fullscreenMenu" class="fullscreen-menu collapse">
        <button class="btn btn-close" onclick="toggleMenu()"></button>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link <%= (currentRoute === '/' ? 'active fw-bold' : '')%>" href="/">Home</a>
            </li>
            <li class="nav-item d-lg-none">
                <a class="nav-link <%= (currentRoute === '/me/library' ? 'active fw-bold' : '')%>" href="/me/library">My Library</a>
            </li>
            <hr>
            <li class="nav-item d-lg-none">
                <a class="nav-link" href="/login/logout">Sign out</a>
            </li>
        </ul>
         <p class="footer">&copy; Group INS</p>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        function toggleMenu() {
            const menu = document.getElementById('fullscreenMenu');
            menu.classList.toggle('show');
        }
    </script>
    
</header>

